/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    background-color: black;
    /* Declare the base font-family - from google font api or other */
}

.background {
    position:relative;
/*    padding-right: 10%;*/
    z-index: -1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    float: left;
}
header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
    color: white;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
/*    float: left;*/
    padding: 10px;
    color: white;

}
.pagetitle{
    display: flex;
/*    flex-flow: row wrap*/
    align-content: center;
    justify-content: center;
}
.header{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin:5px;
/*    align-content: center;*/
/*        justify-content: center;*/
/*    float: left;*/
/*    padding: 5px;*/
    color: white;
    min-width: 100%;
}
.subheading{
    display:none;
/*    align-content: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    float: left;*/
/*    max-width: 50%;*/
/*    margin-top:auto;*/

/*    padding: 15px;*/
/*    position:relative;*/
}

/*header h1 {}*/

header img {
    resize: both;
    max-height: 25%;
    max-width: 25%;

}

header .subheading {}

nav {display: flex; flex-direction: column; align-content: center; justify-content: center; max-width: 100%;}

nav button {
    float: left;
    position: relative;
/*    left: 0px;*/
/*    height: 50px;*/
    padding: 8px 16px;

}

nav ul {
/*    display: none;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    width: 200px;*/

    background-color: #0eff3c;
    color: white;
}

nav ul li {
    color: white;
}

nav ul li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}




nav ul li a:hover {
    background-color: #0ebc00;
    color: white;
}

nav button {



}

ul {}

li a {}

main {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

main h2 {}

main figure {
/*    margin: 0 0 .2rem 2%;*/
/*    width: 96%;*/
}

main figure img {
/*    width: 100%;*/
}

section {}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    /*
  width: 100%;  fill the page in the small/phone view
  margin: 10px;
*/
}

footer {
    /*    border: 1px solid black;*/
    margin: 15px;
    float: left;
    text-align: left;



    /*        max-width: 33%; */
    min-width: 33%px;
    padding: 10px;

    border-radius: 5px;
    /*margin: 0 auto;*/
}

footer aside {}

footer > p {}

/* This structure refers to p elements that are direct children of the footer element */

.forecast {
    display: none;
}

/* Other Class Selectors */

.city {
    position: absolute;
    right: 0px;
    float: right;
    margin: 10px;
    padding: 5px;
    top: 20px;




}

.summary1 {
    border: 1px solid white;

    margin: 15px;
    float: left;
    text-align: center;
    /*    position: absolute;*/
    /*        max-width: 33%; */
    min-width: 30%px;
    padding: 15px;

    border-radius: 5px;
    /*margin: 0 auto;*/
    /*clear: both;*/
    /*    display: block;*/
}

.article {
    border: 1px solid white;
    display: block;

    margin: 15px;
    float: left;
    text-align: center;
    /*    position: absolute;*/
    /*        max-width: 33%; */
    min-width: 33%px;
    padding: 15px;
    /*    word-wrap: normal;*/
    border-radius: 5px;
    /*    margin: 0 auto;*/
    /*    clear: both;*/
}




.content {
    text-align: justify;
    max-width: 100%;
    min-width: 100%;
    align-content: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;


    /*    position:static;*/
    padding: 10px;
    margin: 10px;
    /*    display:block;*/
    /*    clear: both;*/
    /*    overflow: auto;*/
    /*background-color: #0E89D5; */
    border-radius: 5px;



}


/*td{*/

/*
    max-width: 33%;
    margin-left: 10px;
    margin-right: 10px;
*/

}

.artimage {

    display: none;

}

.top {
    display: flex;
    flex-direction: column;

}

* {margin:0}
/*header { background-color: #777; }*/
/*h1 { margin-left: .75rem;	padding: .5rem; }*/
/*.hamburger { display: block;position: absolute;top: 2.0rem;right: 1.25rem; }*/

.navigation { list-style: none; padding-left: 0; }
.navigation li { display: none; }

/* When the responsive class is added to the unordered list on hamburger button click
placed in a media query in order to accomodate the toggle when in wider view*/
@media only screen and (max-width: 37.5em) {
    .navigation.responsive {display: flex; flex-direction: column; align-content: center; justify-content: center; max-width: 100%; position: relative; margin-top: 30px; }
    .navigation.responsive li { background-color: #0eff3c;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd;}
    .navigation.responsive li a {	padding: 1rem; text-align: center;	display: block; text-decoration:none; }
    .navigation.responsive li a:hover { background-color: #0ebc00;
        color: white;}
}

/* The following can be used in lieu of a button with a HTML entity which may not be dispalyed correctly in all browsers - or a SVG option is good - button size issue
.hamburger {
content: "";
position: absolute;
right: 1.5rem; top: 1.8rem;
display: block;
width: 1.25rem; height: 0;
-webkit-box-shadow: 1px 10px 1px 1px #eee,1px 16px 1px 1px #eee,1px 22px 1px 1px #eee;
box-shadow: 0 10px 0 1px #eee,0 16px 0 1px #eee,0 22px 0 1px #eee;
}*/


@media only screen and (min-width: 37.5em) {
/*    header,	nav {	margin: 0 auto;	max-width: 600px;	}*/
    h1 { text-align: center; }
    .hamburger { display: none;	}
/*    .navigation {	background-color: #333;	overflow: hidden;	text-align: center;	}*/
    .navigation li { display: flex; margin-left: .25rem; }
    .navigation a {	display: block;		padding: .5rem;	text-align: center;	text-decoration: none;}
/*    .navigation a:hover {	color: #000; background-color: #777;	}*/
}




.tablehead  {

 padding 10px;
}

.s1  {
    border: 1px solid white;
    display: block;
    max-width: 100%;
    margin: 15px;
    float: left;
    text-align: center;

    min-width: 100%;
    padding: 15px;

    border-radius: 5px;

}

.s2  {
    border: 1px solid white;
    display: block;
    margin: 15px;
    float: left;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
    border-radius: 5px;

}

.s3  {
    border: 1px solid white;
    display: none;
    margin: 15px;
    float: left;
    text-align: center;
    min-width: 33%px;
    padding: 15px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color:yellow;

}

.s4  {
    border: 1px solid white;
    display: none;
    margin: 15px;
    float: left;
    text-align: center;
    min-width: 33%px;
    padding: 15px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color:yellow;
}
.s5  {
    border: 1px solid white;
    display: none;
    margin: 15px;
    float: left;
    text-align: center;
    min-width: 33%px;
    padding: 15px;
    border-radius: 5px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color:yellow;

}
.photo img{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    float:left;
    flex-shrink: 4;
    flex: auto;

}
@keyframes bounce {

    60% {

        transform:         translateY(-15px);
    }
}
.s3:hover {
    cursor: pointer;
    animation-name: bounce;
    background-color: #0ebc00
}
.s4:hover {
    cursor: pointer;
    animation-name: bounce;
    background-color: #0ebc00
}
.s5:hover {
    cursor: pointer;
    animation-name: bounce;
    background-color: #0ebc00
}



nav ul li.active a {background-color: #0ebc00; color: white;}

.iframe{
        padding:0px;
        margin: 0px;
        width:100%;
        min-width: 350px;
}


.register1 a{
    color:#0ebc00;
}

