*{border: box;
    font-family: 'Roboto', sans-serif;
}
label {
    display: block;
    margin: 8px;

}
.boxes{

    display: flex;
    min-width: 100%;
/*    flex-basis: auto;*/
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;




}
span{

}
legend{
    background-color: #0E89D5;
    color: white;
    padding: 3px;
    border-radius: 5px;
}
fieldset{

/*    margin: 3%;*/
    min-width: 100%;
/*    padding: 5px;*/
    margin: 5px;
    min-height: 50%;
    background-color: #e6e9ed;
    border-radius: 2px;
}
form{

    min-width: 100%;

}

.content{
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: 90%;
}
main{
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: 100%;
}

textarea{
    min-width: 100%;
    min-height: 90%;
    margin-top: 3px;
    border-radius: 2px;
}

button{
/*    position: relative;*/
/*    margin: 5px;*/
    width: 100%;
/*    margin-left: 45px;*/
    border-radius: 5px;
}
